<activity>
  <h1>Recent Browsing</h1>

  <div class=row>
    <button onclick={ this.dumpActivity }>Export activity as CSV</button>
    <button onclick={ this.dumpSearchActivity }>Export search activity as CSV</button>
  </div>

  <ul>
    <li each={ activity in this.opts.activities }>
      <time>{ trans(new Date(activity.at * 1000)) }</time> — <a href=/person/{ activity.by.pk }>{ activity.by.label }</a>: <a href={ activity.location }>{ activity.location }</a>
    </li>
  </ul>

  <script>
    this.dumpActivity = async () => {
      downloadUrl('/activity.csv', 'activity.csv')
    }

    this.dumpSearchActivity = async () => {
      downloadUrl('/search-activity.csv', 'search-activity.csv')
    }
  </script>

  <style>
    time {
      font-weight: bold;
      font-size: .6rem;
    }
  </style>
</activity>
