<app>
  <toast />

  <header class="row spaced">
    <h1 id=logo>
      <a href="/"><img src=/src/images/logo.svg alt="EURORDIS Contact Database"></a>
      <a if={ this.ghostMode } ref=ghost href=/admin title="You're a Ninja! Go to the admin to disable.">
        <img src=/src/images/ninja.svg alt="Ghost most, whoooouuu!">
      </a>
    </h1>
    <div class="row secondary">
      <div ref=loading>
        <div>
          <p>Loading</p>
          <small>Results are on the way!</small>
        </div>
        <img src=/src/images/loader.svg alt="Hello!">
      </div>
      <search-box q={ this.q } filters={ this.filters } />
      <nav>
        <basket-link title="View export list" />
        <hr>
        <a class="button plain" href={ getUrl('/person/new') }><icon figure=person-add-menu title="Add a contact" /></a>
        <a class="button plain" href={ getUrl('/organisation/new') }><icon figure=organisation-add-menu title="Add an organisation" /></a>
        <a class="button plain" href={ getUrl('/event/new') }><icon figure=event-add-menu title="Add an event" /></a>
        <hr>
        <a class="button plain" href="?event_kind=summer_school%7CSummer%20School%7C%7Cdigital_school%7CDigital%20School%7C%7Cleadership_school%7CLeadership%20School%7C%7Cwinter_school%7CWinter%20School&event_role=Participant%7CParticipant%7C%7CObserver%7CObserver%7C%7CFellow%7CFellow%7C%7CResearcher%7CResearcher&showFacets=true"><icon figure=schoolhat-menu title="Display all Alumni" /></a>
        <a class="button plain" href="?resource=person%7Cperson&group_role=Patient%20Representative%7CPatient%20Representative&group_kind=epag%7CERN%20-%20European%20Reference%20Network&showFacets=true"><icon figure=epag-menu title="Display all ePag members" /></a>
        <a class="button plain" href={ this.getEurordisMembershipUrl() }><icon figure=member-eurordis-menu title="Display all EURORDIS members" /></a>
        <a class="button plain" href=https://gitlab.com/eurordis/contact-database/wikis/home title="Help about this application" target=_blank><icon figure=help-menu /></a>
      </nav>
    </div>
  </header>

  <aside class={ resize-aside: this.page != 'home' || this.filters.length }>
    <results results={ this.results } total={ this.total } persons-total={ this.personsTotal } organisations-total={ this.organisationsTotal } query={ this.resultsQuery } selected-pk={ this.instance && this.instance.pk } filters={ this.filters }></results>

    <section if={ !this.results || !this.results.length }>
      <h1>Hello { this.user && this.user.props.first_name  || 'there' }!</h1>
      <p>We are ready to go, just fill the search form!</p>

      <a href=/admin title="Hey! Want to join the admin love? Give me 5 and dive in❣️ 🔖"><img src=/src/images/illustration-hello.svg alt="Hello!"></a>
    </section>
  </aside>

  <home if={ this.page == 'home' }></home>

  <main if={ this.page != 'home' || this.filters.length }>
    <filters class=filters if={ this.filters.length } filters={ this.filters } facets={ this.facets } toggle={ this.toggleFilters } facets-visible={ this.showFacets } />
    <div class=wrapper>
      <login if={ this.page == 'login' } />
      <admin if={ this.page == 'admin' } />
      <history if={ this.page == 'history' } changes={ this.changes } />
      <activity if={ this.page == 'activity' } activities={ this.activities } />
      <facets-details show={ this.showFacets } filters={ this.filters } facets={ this.facets } total={ this.total } />
      <div hide={ this.showFacets }>
        <disease-details if={ this.page == 'disease' } disease={ this.instance } diffs={ this.diffs } />
        <user-details if={ this.page == 'person' } user={ this.instance } diffs={ this.diffs } />
        <user-edit if={ this.page == 'person-edit' } user={ this.instance } />
        <organisation-details if={ this.page == 'organisation' } organisation={ this.instance } diffs={ this.diffs } />
        <organisation-edit if={ this.page == 'organisation-edit' } organisation={ this.instance } />
        <organisation-fees-edit if={ this.page == 'organisation-fees-edit' } organisation={ this.instance } />
        <event-details if={ this.page == 'event' } event={ this.instance } diffs={ this.diffs } />
        <event-edit if={ this.page == 'event-edit' } event={ this.instance } />
        <error404 if={ this.page == 'error404' }></error404>
        <export-list if={ this.page == 'export-list' } resources={ this.exportResources } limit={ this.limit } />
      </div>
    </div>
  </main>

  <script>
    window.app = this
    this.cachedFilters = ''

    // Tag to allow unescaped HTML. Use it like `<raw html="<h1>Unescaped<em>HTML</em></h1>" />`
    riot.tag('raw', '', function(opts) {
      this.on('*', () => {
        this.root.innerHTML = opts.html
      })
    })

    this.on('mount', () => {
      this.setAsideSize()
      new ResizeObserver(this.updateAsideSize).observe(document.getElementsByTagName("aside")[0])
    })

    this.getEurordisMembershipUrl = () => {
      if(!config.EURORDIS_ORGANISATION) return
      return replaceQueryParams({ membership: `${config.EURORDIS_ORGANISATION.pk}|EURORDIS`, resource: 'organisation', showFacets: true })
    }

    this.showFacets = this.showFacets || false
    this.filters = []

    // Router function to change page.
    this.setPage = (name) => {
      hideLoader()
      this.showFacets = false
      this.showFacets = 'showFacets' in getQueryParams()
      this.page = name
      this.update()
    }

    this.setAsideSize = () => {
      let asideSize = localStorage.getItem('asideSize')
      let asideElement = document.getElementsByClassName('resize-aside')[0]
      if (asideSize && asideElement) {
        asideElement.style.width = `${asideSize}px`
      }
    }

    this.updateAsideSize = (event) => {
      if (this.page != 'home' || this.filters.length) {
        let asideSize = event[0].target.offsetWidth
        localStorage.setItem('asideSize', asideSize)
      }
    }

    // Manage query string.
    page('*', async (req, next) => {
      this.ghostMode = !!localStorage.getItem('ghostMode')
      this.user = user
      showLoader()
      this.q = req.query.get('q')
      const limit = req.query.get('limit')

      const filterNames = ['resource', 'disease', 'grouping', 'keyword', 'group', 'membership',
                           'group_role', 'country', 'contact', 'kind', 'event', 'event_kind', 'event_role', 'keyword_kind', 'group_kind']
      const filters = []
      filterNames.forEach(name => {
        const rawValues = req.query.get(name)
        if (!rawValues) return
        rawValues.split('||').forEach(rawValue => {
          let [value, label] = rawValue.split('|')
          // The url converts the `+` modifier to space. Swap it back.
          const maybeModifier = value.slice(0, 2).replace(' ', '+')
          value = maybeModifier + value.slice(2)
          filters.push({ name, value, label })
        })
      })

      // Show unlimited results
      if (limit === 'false') filters.push({ name: 'limit', value: 99999 })

      this.filters = filters.map(f => f)

      if(user.isAuthenticated() && (JSON.stringify({ filters: this.filters }) !== this.cachedFilters))
        await this.updateFilters(filters)
      this.cachedFilters = JSON.stringify({ filters: this.filters })

      // Reset diffs on page call
      this.diffs = null

      next()
    })

    page('*', function activityStats(req, next) {
      const response = api('/activity', { data: {
        by: { label: user.props.label, pk: user.props.pk },
        location: page.current,
      }})
      next()
    })

    this.updateFilters = async (filters = []) => {
      let response = { data: [], facets: { resource: [] }, total: 0 }
      const hasQueryFilters = (
        filters.length && // filters is not empty
        !(filters.length === 1 && ['limit', 'resource'].includes(filters[0].name)) // 'limit' or 'resource' is not the only filter
      )
      if(hasQueryFilters) response = await searchResults(filters)
      if(!response) return
      this.results = response.data
      this.facets = response.facets
      this.total = response.total
      const personsResource = this.facets.resource.find(r => r.pk === 'person')
      this.personsTotal = personsResource && personsResource.count
      const organisationsResource = this.facets.resource.find(r => r.pk === 'organisation')
      this.organisationsTotal = organisationsResource && organisationsResource.count
    }

    // Routes.
    function authRequired(req, next) {
      if(!user.isAuthenticated()) {
        notify('You must login to access this page', 'warning')
        return page('/login')
      }
      next()
    }

    page('/login', () => {
      if(user.isAuthenticated()) return page('/')
      this.setPage('login', true)
    })

    page('/access/:token', async (req) => {
      localStorage.setItem('token', req.params.token)
      await user.authenticate(req.params.token)
      if(!user.isAuthenticated()) return notify('Your token is not valid', 'error')
      notify(`Welcome ${ user.get('label') }, you are now authenticated!`, 'success')
      page('/')
    })

    page('/', authRequired, () => this.setPage('home', true))

    page('/admin', authRequired, () => this.setPage('admin'))

    page('/logout', authRequired, () => {
      localStorage.removeItem('token')
      user.logout()
      notify('You are logged out', 'success')
      page('/login')
    })

    page('/organisation/:pk/edit/fees', authRequired, async (req) => {
      const response = apiResponse(await api(`/organisation/${req.params.pk}`))
      this.instance = response.data
      this.setPage(`organisation-fees-edit`)
    })

    page('/:type/:pk/edit', authRequired, async (req) => {
      const type = req.params.type
      const response = apiResponse(await api(`/${type}/${req.params.pk}`))
      this.instance = response.data
      this.setPage(`${type}-edit`)
    })

    page('/:type/new', authRequired, async (req) => {
      const type = req.params.type
      const defaults = {
        person: { languages: [], keywords: [], diseases: [], roles: [] },
        organisation: { diseases: [], keywords: [], groupings: [], roles: [], membership: [] },
        event: {}
      }
      this.instance = defaults[type]
      this.setPage(`${type}-edit`)
    })

    page('/:type/:pk/:history?', authRequired, async (req) => {
      const type = req.params.type
      const response = apiResponse(await api(`/${type}/${req.params.pk}`))
      this.instance = response.data

      if(req.params.history === 'history') {
        const diffsResponse = apiResponse(await api(`/${req.params.type}/${req.params.pk}/history`))
        if(!response.ok) return
        this.diffs = diffsResponse.data.data
      }
      this.setPage(type)
    })

    page('/export-list', authRequired, async (req) => {
      const roles = exportList.all().map(r => ({ person: r.person, organisation: r.organisation }))
      const response = apiResponse(await api('/basket', { data: {resources: roles }}))
      this.exportResources = response.data.data
      const limitFilter = this.filters.find(f => f.name === 'limit')
      this.limit = limitFilter && limitFilter.value
      this.setPage('export-list')
    })

    page('/history', authRequired, async (req) => {
      const params = page.current.split('?')[1]
      const response = apiResponse(await api(`/history?limit=1000&${params}`))
      this.changes = response.data.data
      this.setPage('history')
    })

    page('/activity', authRequired, async (req) => {
      const response = apiResponse(await api(`/activity?limit=1000`))
      this.activities = response.data.data
      this.setPage('activity')
    })

    page('*', () => this.setPage('error404'))

    init(page)

    this.toggleFilters = () => {
      this.showFacets = !this.showFacets
      page(replaceQueryParams({ showFacets: this.showFacets }))
      this.update()
    }
  </script>

  <style scoped>
    :scope {
      display: grid;
      grid-template-areas:
        'header header'
        'aside main';
      grid-template-rows: auto calc(100vh - 5rem);
      grid-template-columns: auto 1fr;
      align-content: start;
    }
    :scope > *:not(toast) {
      z-index: 2;
      background-color: var(--secondary-background-color);
    }

    main .wrapper {
      padding: 2rem 1.6rem 1rem;
    }

    .filters {
      position: sticky;
      padding: 1rem 1rem 0 1rem;
      border-bottom: 1px solid var(--border-color);
      top: 0;
      z-index: 20;
      background-color: #fff;
      width: 100%;
    }

    home {
      z-index: 1;
    }

    :scope > header {
      grid-area: header;
      margin: 0 !important;
      padding: 1rem 1.3rem;
      height: 5rem;
      background-color: var(--primary-background-color);
      border-bottom: 1px solid var(--border-color);
      z-index: 3;
    }
    :scope > header .secondary {
      align-items: flex-start;
    }

    :scope > header nav {
      display: flex;
    }
    :scope > header nav > * {
      margin: 0 .6rem 0 .6rem;
    }

    :scope > header nav hr {
      border-left: 1px solid var(--border-color);
      border-width: 0 0 0 1px;
    }

    :scope > header .button {
      padding: 0 !important;
      height: auto;
      border-radius: 0;
    }
    :scope > header .button > icon {
      height: auto;
      margin-right: 0;
    }
    :scope > header .button > icon img {
      width: auto !important;
    }
    :scope > aside {
      grid-area: aside;
      font-weight: 500;
      overflow-y: scroll;
      border-right: 1px solid var(--border-color);
      min-width: 35vw;
      max-width: 35vw;
    }
    :scope > .resize-aside {
      resize: horizontal;
      min-width: 10vw;
      max-width: 80vw;
      width: 35vw;
    }
    :scope > aside > section {
      padding-top: 4rem;
      text-align: center;
      color: var(--primary-color);
    }
    :scope > aside > section h1 {
      font-family: "IBMPlexSans", sans-serif;
      font-size: 2rem;
      font-weight: 500;
    }
    :scope > aside > section p {
      margin-bottom: 2.4rem;
      font-size: 0.9rem;
      font-weight: normal;
    }

    :scope > main {
      grid-area: main;
      overflow-y: scroll;
    }

    #logo {
      color: var(--primary-color);
      font-size: 1.3rem;
      font-weight: normal;
      position: relative;
    }
    #logo img {
      height: 3rem;
      vertical-align: top;
      margin-right: .5rem;
    }
    #logo a {
      color: inherit;
      text-decoration: none;
    }

    @keyframes bounce {
      30% {
        transform: translateX(30px);
      }
      75% {
        transform: translateX(20px) scaleX(-1);
      }
      76% {
        transform: scaleX(1);
      }
      33%, 60% {
        transform: translateX(-10px);
      }
      75% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(10px);
      }
      85% {
        transform: translateY(-50px);
      }
      20% {
        transform: translateX(-20px);
      }
      38%, 45% {
        transform: scaleX(1);
      }
      40% {
        transform: scaleX(-1);
      }
    }
    #logo [ref=ghost] {
      position: absolute;
      opacity: 0.95;
      top: 0px;
      left: -16px;
      height: 115px;
      animation-duration: 5s;
      animation-name: bounce;
      animation-iteration-count: infinite;
    }
    #logo [ref=ghost] img {
      height: 100%;
    }

    .help {
      position: absolute;
      bottom: 3rem;
      right: -1.4rem;
      display: block;
      padding: .3rem 1rem;
      color: inherit;
      text-decoration: none;
      font-size: .6rem;
      background-color: var(--primary-background-color);
      border: 1px solid #999;
      transform: rotate(-90deg);
    }

    [ref=loading] {
      /* display: flex; */
      align-items: center;
      margin-right: 1.5rem !important;
      font-size: 0.6rem;
      color: var(--primary-color);
      display: none;
    }
    [ref=loading] div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    [ref=loading] p {
      margin: 0;
      line-height: 1;
      font-weight: bold;
    }
    [ref=loading] small {
      font-size: 0.6rem;
    }
    [ref=loading] img {
      width: 1.7rem;
      height: 1.7rem;
      margin-left: 0.4rem;
    }
    :scope.loading [ref=loading] {
      display: flex;
    }
  </style>
</app>
