<bulk-warning>
  <div if={ opts.warnings && opts.warnings.length } class=import-error>
    <h3 class=error>
      <icon figure=message-alert-small />
      Warning: { this.opts.title || "The following contacts were partially saved" }
    </h3>
    <table>
      <tr>
        <th>Contact</th>
        <th>Warning</th>
      </tr>
      <tr each={ warning in opts.warnings }>
        <td><a href={ warning.data.uri + location.search } target=_blank>{ warning.raw.first_name } { warning.raw.last_name }<br>
            <small>{ warning.raw.email || 'Empty email' }</small></a>
        </td>
        <td>
          <div each={ msg, key in warning.report }>{ msg }</div>
        </td>
      </tr>
    </table>
  </div>

  <style>
      tr {
      text-align: left;
      vertical-align: top;
    }
    tr:not(:last-child) td {
      padding: .3rem .1rem;
      border-bottom: 1px solid #eee;
    }
  </style>
</bulk-warning>
