<disease-gauge>
  <icon if={ this.level } figure=gauge-{ this.level }></icon>

  <script>
    this.level = null

    this.on('mount', () => {
      const depth = this.opts.depth
      const maxDepth = this.opts.maxDepth
      if (!(depth !== undefined && maxDepth !== undefined)) return

      if (depth === 0) this.level = 1
      else if (depth === maxDepth) this.level = 5
      // value should be between 2 and 4
      else this.level = 2 + Math.round(depth * 2 / maxDepth)
      this.update()
    })
  </script>
</disease-gauge>
