<expandable-list>
    <!-- <yield each={ this.opts.items.slice(0, this.slice) } /> -->
    <yield />

    <button if={ this.slice < this.opts.items.length } onclick={ ()=> this.slice = this.opts.items.length }>
        See more
    </button>

    <button if={ this.slice == this.opts.items.length } onclick={ ()=> this.slice = this.initialSlice }>
        See less
    </button>

    <script>
        this.initialSlice = this.opts.slice ? this.opts.slice : 6
        this.slice = this.initialSlice
    </script>
</expandable-list>