<facets-details>
  <div>
    <section if={ !this.hasFacets }>
      <p>
        Your search is too narrow and has no result.
        Please remove some filter to add any other.
      </p>
    </section>

    <section each={ facet in this.facets } if={ this.hasFacets && facet.inList !== false } class="facetgroup {facet.name} { this.expandedFacets.includes(facet.name) ? 'expanded' : '' }">
      <div class="facetheader">
        <h3><icon figure="{ facet.name }" />{ facet.title }</h3>
        <div class="state-filter-radios" if={ facet.modifiers }>
          <div>
            <input
              onclick={ this.toggleStatusFilter }
              type="radio"
              id="{ facet.name }-active"
              name="{ facet.name }-status"
              category={ facet.name }
              value=""
              checked={ facet.status == '' }
              >
            <label for="{ facet.name }-active">Active</label>
          </div>
          <div>
            <input
              onclick={ this.toggleStatusFilter }
              type="radio"
              id="{ facet.name }-inactive"
              name="{ facet.name }-status"
              category={ facet.name }
              value="<"
              checked={ facet.status === '<' }
              >
            <label for="{ facet.name }-inactive">Inactive</label>
          </div>
          <div>
            <input
              onclick={ this.toggleStatusFilter }
              type="radio"
              id="{ facet.name }-all"
              name="{ facet.name }-status"
              category={ facet.name }
              value="*"
              checked={ facet.status === '*' }
              >
            <label for="{ facet.name }-all">All</label>
          </div>
        </div>
      </div>
      <div class="facetcontent" if={ facet.values.length }>
        <div each={ value in facet.values } class="row facet">
          <facet-check value={ value.pk } facet-name={ facet.name } onchange={ this.addFilter } label={ value.label } option={ this.selectedFilter(facet.name, value.pk) } />
          <div>
            <icon if={ value.icon === "ascendants" || value.icon === "descendants" } figure={ value.icon } />
            <disease-gauge depth={ value.depth } max-depth={ value.max_depth } />
            <span class=value-label title="{ value.label }">{ value.label }</span> ({ value.count })
          </div>
        </div>

        <small if={ facet.values.length === 20 }>(Displaying only the first 20 options)</small>
      </div>

      <div if={ !facet.values.length }>
        There's no result for this facet
      </div>

      <button if={ facet.values.length > 10 }
        onclick={ this.toggleDisplay }
        value={ facet.name }
        >
        <virtual if={ !this.expandedFacets.includes(facet.name) }>
          Display more results
        </virtual>
        <virtual if={ this.expandedFacets.includes(facet.name) }>
          Display less results
        </virtual>
      </button>
    </section>
  </div>
  <div class=toolbar>
    <button class=button onclick={ this.submit }>
      <icon figure=filter embedded /> Filter
    </button>
  </div>

  <script>
    this.facets = []
    this.filters = []
    this.hasFacets = false
    this.expandedFacets = []

    this.on('*', () => {
      this.filters = this.opts.filters

      if(this.opts.facets) {
        this.facets = window.facetSettings.reduce((acc, f) => {
          const values = this.opts.facets[f.name]
          const filter = this.filters.find(filter => filter.name == f.name)
          const facet = this.facets.find(facet => facet.name == f.name) || {}
          let status = facet.status
          if(status === undefined && filter) status = getvalue(filter.value).status
          acc.push(Object.assign(f, { values, status }))
          return acc
        }, [])

        this.hasFacets = this.facets.find(f => f.values && f.values.length)
      }
    })

    this.selectedFilter = (category, value) => {
      if(!value) value = ''
      const filter = this.filters.find(f => f.name == category && getvalue(f.value).value == value)

      if(!filter) return
      return getvalue(filter.value).modifier || true
    }

    this.addFilter = (data) => {
      const filter = this.filters.find(f => f.name === data.category && getvalue(f.value).value === getvalue(data.value).value)
      if(filter) this.filters.splice(this.filters.indexOf(filter), 1)
      if(data.action === 'add')
        this.filters.push({ name: data.category, value: data.value, label: data.label })
    }

    this.toggleStatusFilter = (event) => {
      const selected = event.target
      const facet = this.facets.find(f => f.name == selected.getAttribute('category'))
      const index = this.facets.indexOf(facet)
      facet.status = selected.getAttribute('value')
      this.facets[index] = facet
    }

    this.submit = () => {
      const groups = this.filters.reduce((groups, f) => {
        if(!(f.name in groups)) groups[f.name] = []
        const facet = this.facets.find(facet => facet.name == f.name)
        const status = facet && facet.status
        const value = createvalue(f.value, null, status)
        groups[f.name].push(`${value}|${f.label}`)
        return groups
      }, {})
      groups.showFacets = true
      page(replaceQueryParams(groups, false))
    }

    this.toggleDisplay = (event) => {
      const name = event.target.value
      this.expandedFacets.includes(name)
        ? this.expandedFacets.pop(name)
        : this.expandedFacets.push(name)
    }

  </script>

  <style>
    :scope > div {
      display: grid;
      grid-column-gap: 3rem;
      grid-template-columns: repeat( 3, 30%  );
    }

    .facetgroup {
      position: relative;
      margin-bottom: 1.6rem;
    }
    .facetgroup:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 3.6rem;
      height: 1px;
      background-color: #E6E6EB;
    }
    .facetheader {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .state-filter-radios {
      display: flex;
      margin-top: -1rem;
    }
    .state-filter-radios > div:not(:first-child):not(:last-child) {
      border-right: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
    }
    .state-filter-radios input {
      display: none;
    }
    .state-filter-radios label {
      margin: 0 .4rem;
      font-weight: normal;
      text-transform: none;
      color: var(--group);
      padding: 0 .5rem;
      border-radius: .5rem;
      font-size: .6rem;
      cursor: pointer;
    }
    .state-filter-radios div:last-child label {
      margin-right: 0;
    }
    .state-filter-radios input:checked + label,
    .state-filter-radios label:hover {
      color: #fff;
      background-color: var(--group);
    }
    .facetcontent {
      max-height: 12.6rem;
      margin-bottom: 1.6rem;
      overflow: hidden;
    }
    .facetcontent .facet {
      color: var(--text-color) !important;
    }
    .facetgroup > div + button {
      display: block;
      width: 100%;
      height: auto;
      margin-top: -1rem;
      margin-bottom: 1.6rem;
      text-align: left;
      background: none;
      border: none;
    }

    .facetgroup.expanded > div {
      max-height: 100%;
    }

    .facetgroup p {
      margin: 0;
      font-style: italic;
    }

    .facet {
      height: 1.2rem;
      margin: 0 auto .4rem;
      color: inherit !important;
    }

    button.selected {
      background-color: var(--primary-color);
      color: #fff;
    }
    button.selected img {
      width: .5rem;
    }
    button [figure=outsidebox-check-country] img,
    button [figure=outsidebox-uncheck-country] img {
      width: .7rem;
    }

    :scope h3 icon {
      margin-right: 0.6rem;
    }
    :scope h3 icon img {
      width: 1.6rem;
    }
    :scope icon[figure^=gauge] {
      margin-right: 0;
    }
    :scope icon[figure^=gauge] img {
      width: 1.2rem;
    }
    :scope [figure=ascendants] img,
    :scope [figure=descendants] img {
      width: 1rem;
      margin-right: 0.2rem;
    }
    :scope h3 {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .disease h3 {
      color: var(--disease)
    }
    .disease button {
      border-color: var(--disease);
    }
    .disease button.selected {
      background-color: var(--disease);
    }

    .country h3 {
      color: var(--country)
    }
    .country button {
      border-color: var(--country);
    }
    .country button.selected {
      background-color: var(--country);
    }

    .keyword h3,
    .keyword_kind h3 {
      color: var(--keyword)
    }
    .keyword button,
    .keyword_kind button {
      border-color: var(--keyword);
    }
    .keyword button.selected,
    .keyword_kind button.selected {
      background-color: var(--keyword);
    }

    .grouping h3 {
      color: var(--grouping)
    }
    .grouping button {
      border-color: var(--grouping);
    }
    .grouping button.selected {
      background-color: var(--grouping);
    }

    .kind h3 {
      color: var(--kind)
    }
    .kind button {
      border-color: var(--kind);
    }
    .kind button.selected {
      background-color: var(--kind);
    }

    .group h3 ,
    .group_role h3,
    .group_kind h3,
    .membership h3 {
      color: var(--group)
    }
    .group button,
    .group_role button,
    .group_kind button,
    .membership button {
      border-color: var(--group);
    }
    .group button.selected,
    .group_role button.selected,
    .group_kind button.selected,
    .membership button.selected {
      background-color: var(--group);
    }

    :scope :not(.toolbar) button {
      width: .8rem;
      height: .8rem;
      padding: 0;
      border-radius: .1rem;
    }
    :scope :not(.toolbar) button icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0.75rem;
      margin-right: 0;
    }
    :scope facet-check + div {
      display: flex;
      width: calc(100% - 2.5rem);
    }
    :scope button + div {
      width: calc(100% - 1.2rem);
      margin-left: .2rem;
    }
    :scope .buttongroup {
      margin-right: .4rem !important;
    }

    .value-label {
      width: 100%;
      margin-right: 0.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: help;
    }

    .toolbar {
      justify-content: flex-end;
      width: calc(100% + 1rem);
    }

    .keyword {
      display: block; /* remove display flex on facet. the `.keyword` class is applied here from global keywords behavior */
    }
  </style>
</facets-details>
