<filters>
  <div class=row>
    <button hide={ this.opts.facetsVisible } onclick={ this.opts.toggle } class="toggle button" ><icon figure=view embedded /> View all filters</button>
    <button show={ this.opts.facetsVisible } onclick={ this.opts.toggle } class="toggle button" ><icon figure=viewnone embedded /> Close filters</button>

    <virtual each={ group in this.groupedFilters }>
      <span each={ filter in group.filters } class={ 'tag-part': true, exclude: getvalue(filter.value).modifier == '-', include: getvalue(filter.value).modifier == '+', tag: true } title="Filtering by { group.name } matching '{ filter.label }'">
        <span class={ classForFilter(group.name) }>
          <icon
            figure={ filter.icon }
            />
          { filter.label }&nbsp;
          <span if={ filter.facet?.modifiers && getvalue(filter.value).status == '' }>| Active</span>
          <span if={ filter.facet?.modifiers && getvalue(filter.value).status == '<' }>| Inactive</span>
          <span if={ filter.facet?.modifiers && getvalue(filter.value).status == '*' }>| All</span>
          <button class=plain onclick={ this.removeFilter } name={ filter.name } value={ filter.value }>
            <icon figure=close embedded />
          </button>
        </span>
      </span>
    </virtual>
  </div>

  <script>
    this.facetSettings = window.facetSettings

    this.on('*', () => {
      this.filters = this.opts.filters
      // Fix label and icon
      this.filters = this.filters.map((f) => {
        f.icon = f.name.toLowerCase()
        const status = getvalue(f.value).status
        if (f.icon == 'disease' && ['<', '>'].includes(status)) {
          f.icon = (status === '>') ? 'descendants' : 'ascendants'
        }
        f.label = f.label || f.value
        return f
      })

      this.filters = this.filters.filter(f => f.name !== 'resource')

      this.facets = this.opts.facets && Object.keys(this.opts.facets).map(key => ({
        name: key,
        values: this.opts.facets[key]
      }))

      this.groupedFilters = window.facetSettings.reduce((acc, facet) => {
        const filters = this.filters.filter(f => f.name === facet.name)
        if(filters.length) acc.push(Object.assign(facet, { filters }))
        return acc
      }, [])
    })

    this.removeFilter = (event) => {
      const { name, value } = event.currentTarget
      const facets = this.filters.filter(f => f.name === name && f.value !== value)
      page(replaceQueryParams({ [name]: facets.map(f => {
        return f.label ? `${f.value}|${f.label}` : f.value
      }) }))
    }
  </script>

  <style>
    :scope {
      display: block;
    }
    :scope > .row {
      flex-flow: wrap;
      align-items: end;
      margin: 0;
    }
    :scope button {
      height: 1.6rem;
      margin-bottom: 1rem;
    }
    :scope icon img {
      min-width: .8rem;
    }

    .tag {
      display: flex;
      margin-right: 0 !important;
      color: #0464ba;
      font-size: .6rem;
      font-weight: 500;
    }
    .tag button {
      margin-bottom: 0;
      margin-left: 0.4rem;
      padding: 0;
      width: .8rem;
      height: .8rem;
    }
    .tag-part > span {
      display: flex;
      align-items: center;
      margin-right: .8rem;
      margin-bottom: 1rem;
      padding: .2rem .6rem ;
      background-color: #e0eaf3;
      border-radius: 1rem;
      cursor: help;
    }
    .tag-part icon:first-of-type {
      margin-right: 0.4rem;
    }
    .tag-part .disease {
      color: var(--disease);
      background-color: var(--disease-light);
    }
    .tag-part .disease  button {
      color: var(--disease);
    }
    .tag-part .country {
      color: var(--country);
      background-color: var(--country-light);
    }
    .tag-part .country  button {
      color: var(--country);
    }
    .tag-part .group ,
    .tag-part .group_role ,
    .tag-part .membership {
    color: var(--group);
      background-color: var(--group-light);
    }
    .tag-part .group  button,
    .tag-part .group_role  button,
    .tag-part .membership  button {
    color: var(--group);
    }
    .tag-part .keyword {
      color: var(--keyword);
      background-color: var(--keyword-light);
    }
    .tag-part .keyword  button {
      color: var(--keyword);
    }
    .tag-part .kind {
      color: var(--kind);
      background-color: var(--kind-light);
    }
    .tag-part .kind  button {
      color: var(--kind);
    }
    .tag-part .grouping {
      color: var(--grouping);
      background-color: var(--grouping-light);
    }
    .tag-part .grouping  button {
      color: var(--grouping);
    }

    .tag-part.exclude {
      text-decoration: line-through;
    }
    .tag-part.include {
      font-weight: bold;
    }
    [figure=close] svg path {
      stroke: var(--primary-color);
    }
    .disease [figure=close] svg path {
      stroke: var(--disease);
    }
    .grouping [figure=close] svg path {
      stroke: var(--grouping);
    }
    .group [figure=close] svg path,
    .membership [figure=close] svg path,
    .group_role [figure=close] svg path {
      stroke: var(--group);
    }
    .keyword [figure=close] svg path {
      stroke: var(--keyword);
    }
    .kind [figure=close] svg path {
      stroke: var(--kind);
    }
  </style>
</filters>
