<login>
  <div>
    <img src="/src/images/logo.svg" alt="EURORDIS Contact Database">
    <h1>Login with your email</h1>
    <p>Enter your @eurordis.org email, then we send you a connection link.</p>
    <form onsubmit={ this.submit }>
      <label for=email>Your @eurordis.org email</label>
      <div>
        <input type=email id=email name=email placeholder="ex.: joe@eurordis.org" required>
        <button class=button>
          <icon figure=email embedded /> Send me a link</button>
      </div>
    </form>
  </div>

  <script>
    this.submit = async (event) => {
      event.preventDefault()
      const email = event.target.email.value
      const response = apiResponse(await api('/token', { data: { email } }))
      if (!response.ok) return notify(response.data.error, 'error')
      localStorage.setItem('token', response.data)
      notify("Check your email to access the Contact Database!", 'success')
    }
  </script>

  <style>
    :scope > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

    }

    :scope > div > img {
      width: 10.5rem;
      height: 3.2rem;
      margin-bottom: 4rem;
    }

    h1 {
      font-family: "IBMPlexSans", sans-serif;
    }

    p {
      margin-bottom: 0;
      color: var(--primary-color)
    }

    form div {
      display: flex;
      align-items: center;
    }

    label {
      margin-top: 0;
    }
    button {
      margin-left: 1.6rem;
    }
  </style>
</login>
