<membership-fees>
  <details if={ this.opts.fees && this.opts.fees.length }>
    <summary>View fees</summary>
    <table>
      <tr each={ fee in this.opts.fees }>
        <td>
          { fee.year }: 
          <virtual if={ fee.exempted }>exempted</virtual>
          <virtual if={ !fee.exempted }>
              { fee.amount }€
          </virtual>
        </td>
        <td>
            <virtual if={ !fee.exempted }>
              ({ trans(new Date(fee.payment_date)) })
              <span if={ !fee.receipt_sent }> — Receipt pending</span>
            </virtual>
        </td>
      </tr>
    </table>
  </details>

  <style>
    td:first-of-type {
      width: 6rem;
    }
 </style>
</membership-fees>