<search-box>
  <form ref=form onsubmit="return false" class="row collapsed" onmouseenter={ () => this.showSuggestions = true } onmouseleave={ () => this.showSuggestions = false }>
    <div class=search-icon>
      <input type=search autofocus oninput={ this.updateQuery } name=q value={ this.opts.contact || this.opts.q } placeholder="Search and/or filter" autocomplete="off">
    </div>
    <div id=suggestions class={ displayed: this.showSuggestions }>
      <div each={ suggestion in this.suggestions } class="row { suggestion.resource }">
        <virtual if={ ['keyword', 'grouping', 'country', 'group', 'group_role', 'kind', 'event_kind', 'event_role', 'keyword_kind', 'group_kind'].includes(suggestion.resource) }>
          <div><icon figure={ suggestion.resource } title={ suggestion.resource } />
            <span title={ suggestion.description }>{ suggestion.label }</span>
            </div>
          <div class="secondary">
            <button type=button onclick={ this.filter } name={ suggestion.resource } value={ suggestion.pk } label={ suggestion.label }>Filter</button>
            <a aria-disabled="true"><span>View</span></a>
          </div>
        </virtual>
        <virtual if={ ['person', 'organisation'].includes(suggestion.resource) }>
          <div><icon figure={ suggestion.resource } title={ suggestion.resource }/>
            <span>{ suggestion.label }</span>
            </div>
          <div class="secondary">
            <button type=button disabled>Filter</button>
            <a href="/{ suggestion.resource }/{ suggestion.pk }">View</a>
          </div>
        </virtual>
        <virtual if={ suggestion.resource == 'event' }>
          <div><icon figure={ suggestion.resource } title=Event/>
            <span>{ suggestion.label }</span>
            </div>
          <div class="secondary">
            <button type=button onclick={ this.filter } name={ suggestion.resource } value={ suggestion.pk } label={ suggestion.label }>Filter</button>
            <a href="/{ suggestion.resource }/{ suggestion.pk }">View</a>
          </div>
        </virtual>
        <virtual if={ suggestion.resource == 'disease' }>
          <div>
            <icon figure=disease title="Disease"></icon>
            <disease-gauge depth={ suggestion.depth } max-depth={ suggestion.max_depth } />
            <div>
              <span>{ suggestion.label }</span> <br>
              <span class="orphanet" if={ suggestion.pk }>Orphanet: <a href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={ suggestion.pk }" title="View on Orphanet" target=_blank>{ suggestion.pk }</a></span>
              <a href="{ getUrl('/disease/'+suggestion.pk) }">Database card</a>
            </div>
          </div>
          <div class=secondary>
            <button type=button class=plain disabled={ suggestion.depth == 0 } onclick={ this.filter } name=disease value="<{ suggestion.pk }" label={ suggestion.label } title="Filter all items related to this disease and one of its parents">
              <icon figure=ascendants />
            </button>
            <button type=button class=plain onclick={ this.filter } name=disease value="{ suggestion.pk }" label={ suggestion.label } title="Filter all items related to this disease">
              <icon figure=root />
            </button>
            <button type=button class=plain disabled={ suggestion.depth == suggestion.max_depth } onclick={ this.filter } name=disease value=">{ suggestion.pk }" label={ suggestion.label } title="Filter all items related to this disease and one of its children">
              <icon figure=descendants />
            </button>

          </div>
        </virtual>
      </div>
      <div if={ this.q }>
        <button type=button onclick={ this.filter } name=contact value={ this.q } label={ this.q } class=secondary>
          Search "{ this.q }" in all contacts
        </button>
      </div>
    </div>
  </form>

  <script>
    this.q = this.opts.q || ''
    this.timeoutId = null

    this.on('mount', () => {
      this.updateBox()
    })

    this.updateQuery = (event) => {
      this.q = event.target.value
      if (this.timeoutId) clearTimeout(this.timeoutId)
      this.timeoutId = setTimeout(() => {
        this.updateBox()
        this.showSuggestions = true
      }, 400)
    }

    this.filter = (event) => {
      const button = event.currentTarget
      this.filters = this.opts.filters || []
      !this.filters.find(f => f.value === button.value && f.name === button.name) && this.filters.push({
        name: button.name,
        value: button.value,
        label: button.getAttribute('label') || button.value,
      })
      const obj = {}
      this.filters.forEach(f => {
        if(!(f.name in obj)) obj[f.name] = []
        obj[f.name].push(`${f.value}|${f.label}`)
      })
      obj.q = this.q
      obj.showFacets = true
      page(getUrl('/', obj))
    }

    this.updateBox = async () => {
      this.q = this.q.trim()
      this.suggestions = []
      if (this.q.length < 3) {
        this.showSuggestions = false
        return
      }

      const response = apiResponse(await api(`/complete?q=${this.q}&limit=10`))
      this.suggestions = response.data.data

      this.update()
    }
  </script>

  <style>
    :scope {
      position: relative;
      margin-right: 1.6rem !important;
    }

    .search-icon {
      position: relative;
    }
    .search-icon::before {
      content: '';
      position: absolute;
      top: 0.7rem;
      left: 1rem;
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      background: url(/src/images/icons/search.svg) 0 0 no-repeat;
      background-size: 1.2rem;
      z-index: 3;
    }

    form {
      margin: 0 !important;
    }

    [type=search] {
      width: 30rem;
      height: 2.45rem;
      padding-left: 2.4rem;
      border-color: var(--border-color);
      z-index: 2;
      border-radius: .2rem;
      font-weight: 500;
    }
    [type=search]:focus + button {
      content: "Full search";
      box-shadow: 0 0 .2rem var(--primary-color);
    }
    [type=search]::placeholder{
      font-weight: normal;
    }

    #suggestions {
      position: absolute;
      top: 100%;
      right: 0;
      display: block;
      min-width: 100%;
      max-width: 60vw;
      padding: 0 1.6rem;
      width: max-content;
      background-color: #fff;
      border: 1px solid var(--border-color);
      box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
      z-index: 1;
    }
    #suggestions:not(.displayed) {
      display: none;
    }
    #suggestions > .row {
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      padding: 0 0 1.2rem;
    }
    #suggestions > .row:first-child {
      padding-top: 1.2rem;
    }
    #suggestions > .row:nth-last-of-type(2) {
      padding-bottom: 0;
    }
    #suggestions > :last-child {
      display: flex;
      justify-content: center;
      padding: 1.2rem 0;
    }
    #suggestions > .row:after {
      content: "";
      display: block;
      height: 1px;
      width: 3.6rem;
      margin-top: 1.2rem;
      background-color: var(--border-color);
    }
    #suggestions > .disease:last-of-type {
      width: 100%;
    }
    #suggestions .row > div:first-of-type {
      display: flex;
      align-items: center;
      width: calc(100% - 5.8rem);
      font-weight: 500;
    }

    #suggestions :not(.disease) span,
    #suggestions .disease > div > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .secondary button,
    .secondary a {
      width: auto;
      height: auto !important;
      margin-right: 0;
      padding: 0;
      font-size: 0.7rem;
      color: var(--primary-color);
      font-weight: 500;
      text-decoration: none;
      border: none;
    }
    .secondary a {
      margin-left: 0.8rem;
      padding-left: 0.8rem;
      border-left: 1px solid var(--border-color);
    }
    .secondary [name=disease]:not(:first-of-type) {
      margin-left: 0.6rem;
    }

    #suggestions .row > .secondary {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 4.4rem;
    }
    #suggestions .disease .secondary button {
      width: auto;
    }
    #suggestions .disease .secondary button:hover {
      background-color: transparent;
    }
    #suggestions .disease .secondary icon {
      width: auto;
      margin-right: 0;
    }

    #suggestions icon {
      width: 1.45rem;
      height: auto;
      margin-right: .5rem;
    }
    #suggestions icon[figure=disease],
    #suggestions icon[figure^=gauge]{
      margin-right: 0;
    }

    .disease,
    .disease a {
      color: var(--disease);
    }
    .disease .orphanet {
      font-weight: normal;
      color: #50596c;
    }
    .disease span + a {
      margin-left: 0.4rem;
      padding-left: 0.4rem;
      font-weight: normal;
      border-left: 1px solid var(--border-color);
    }

    .country,
    .country button {
      color: var(--country);
    }
    .country button {
      border-color: var(--country);
    }

    .group,
    .group button {
      color: var(--group);
    }
    .group button {
      border-color: var(--group);
    }


    [figure=organisation] img,
    [figure=disease] img,
    [figure=person] img,
    [figure=grouping] img {
      width: 1.6rem;
      height: 1.6rem;
    }
    [figure=country] img,
    [figure^=gauge] img {
      width: 1.2rem;
      height: 1.2rem;
    }
    [figure=ascendants] img,
    [figure=descendants] img{
      width: 1.2rem !important;
    }
    [figure=root] img {
      width: .9rem !important;
    }
    [figure=disease],
    disease-gauge {
      align-self: flex-start;
    }
  </style>
</search-box>
