<user-edit class=details>

  <header class=row>
    <div>
      <div class=avatar>
        <icon figure=placeholder-person />
      </div>
    </div>

    <div>
      <h1 if={ user.pk }>Edit: { user.first_name } { user.last_name }<span if={ user.title }> ({ ucFirst(user.title)
          })</span></h1>
      <h1 if={ !user.pk }>Add a user</h1>
    </div>
  </header>

  <form onsubmit={ this.save } class=resource-edit-form>
    <fieldset>
      <div>
        <div>
          <legend>Person information</legend>
          <div class=row>
            <div>
              <label for=title>Title</label>
              <select name=title>
                <option value=""> --- </option>
                <option each={ title in this.titles } value={ title.key } selected={ user.title==title.key }>{
                  title.value }</option>
              </select>
            </div>
            <div class=w50p>
              <label for=first_name>First Name</label>
              <input name=first_name value={ user.first_name } placeholder="First name" required onblur={
                this.checkDuplicatesName }>
            </div>
            <div class=w50p>
              <label for=last_name>Last Name</label>
              <input name=last_name value={ user.last_name } placeholder="Last name" required onblur={
                this.checkDuplicatesName }>
            </div>
          </div>
          <duplicates href={ this.duplicatesNameUri } resource=person current-id={ this.user.pk } />
          <div class="row">
            <div class=w33p>
              <label for=country>Country</label>
              <select data-is=select-country class=row country={ user.country } name=country onchange={
                this.changeCountry } />
            </div>
            <div class=w33p>
              <label for=>Primary language</label>
              <select data-is=select-language name=languages[] ref=primary language={ user.languages[0] }></select>
            </div>
            <div class=w33p>
              <label for=>Secondary language</label>
              <select data-is=select-language name=languages[] exclude={ this.refs.primary.name } language={
                user.languages[1] }></select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class=w70p>
      <div>
        <div>
          <legend>Contact Details</legend>
          <div class="row">
            <div class=w50p>
              <label for=cell_phone>Cellphone</label>
              <input name=cell_phone value={ this.user.cell_phone }
                placeholder="Mobile phone number ({ this.dialPrefix || 'with international dialing code' })">
            </div>
            <div class=w50p>
              <label for=phone>Landline</label>
              <input id=phone name=phone value={ this.user.phone }
                placeholder="Phone number ({ this.dialPrefix || 'with international dialing code' })">
            </div>
          </div>
          <label for=email>Email</label>
          <input type=email name=email value={ this.user.email } placeholder="Email" onblur={ this.checkDuplicatesEmail
            }>
        </div>
      </div>
    </fieldset>
    <duplicates href={ this.duplicatesEmailUri } exact=error class=error
      label="This email is already used by the contact below. Please use another one before saving."
      current-id={ this.user.pk } />

    <fieldset>
      <div>
        <div>
          <details>
            <summary class=disease>
              <legend class=disease>Diseases <small if={ this.diseasesCount }>({ this.diseasesCount })</small></legend>
              Expand
            </summary>
            <div>
              <article class="row disease-list" each={ disease, index in this.user.diseases } id=disease_{index}>
                <select-autocomplete url="/disease/complete?limit=10&q=" name=diseases[] value={ disease.pk } label={
                  disease.label } placeholder="Name of the disease" />
                <button class="button disease" type=button onclick={ this.removeDisease } value={ index }>
                  <icon figure=delete embedded />
                  Delete
                </button>
              </article>

              <button class="button disease" type=button onclick={ this.addDisease }>
                <icon figure=add embedded /> Add a disease
              </button>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset class=keywords>
      <div>
        <div>
          <details>
            <summary class=keyword>
              <legend class=keyword>Keywords <small if={ this.user.keywords.length }>({ this.user.keywords.length })</small></legend>
              Expand
            </summary>
            <div each={ category in this.keywords }>
              <h5>{ category.kind }</h5>
              <div class=cols3>
                <span each={ kw in category.values }>
                  <input type=checkbox name=keywords[] id=keyword_{ kw.pk } value={ kw.pk } checked={
                    this.userKeywordsPks.includes(kw.pk) } class=keyword>
                  <label for=keyword_{ kw.pk }>
                    <span>{ kw.label }</span>
                  </label>
                </span>
              </div>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary>
              <legend>Organisations <small if={ this.rolesCount }>({ this.rolesCount })</small></legend>
              Expand
            </summary>
            <div>
              <article hidden={ archivedRoles.includes(role.organisation.pk) } id=role_edit_{ index } subform=roles[] each={ role, index in this.user.roles }>
                <div class="row">
                  <div class=w50p>
                    <label for=organisation>Name of the organisation</label>
                    <select-autocomplete url="/contact/complete?resource=organisation&limit=10&q=" class=row
                      name=organisation value={ role.organisation && role.organisation.pk } label={
                      role.organisation.label } placeholder="Name of the organisation" />
                  </div>
                  <div class=w50p>
                    <label for=organisation_role>Role inside this organisation</label>
                    <input class=row id=organisation_role name=name placeholder="Role inside this organisation" value={
                      role.name }>
                  </div>
                </div>
                <div class="row">
                  <div class=w50p>
                    <label for=email>Specific email</label>
                    <input id=role_email_{ index } class=row name=email type=email pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Specific email with this organisation" value={
                      role.email }>
                  </div>
                  <div class=fx-grow-2>
                    <label for="phone">Specific phone number</label>
                    <input value={ role.phone } name="phone" placeholder="Specific phone number with this organisation">
                  </div>
                </div>
                <div class="row justify-between" style="margin-top: .8rem">
                  <div class=primary-contact>
                    <input type=checkbox value=1 id=is_primary_{ index } name=is_primary checked={ role.is_primary || '' }>
                    <label for=is_primary_{ index }>This is a primary contact</label>
                  </div>
                  <div class=primary-contact>
                    <input type=checkbox value=1 id=is_default_{ index } name=is_default index={ index } checked={ role.is_default || '' }>
                    <label for=is_default_{ index }>This is the default organisation</label>
                  </div>
                  <div class=primary-contact>
                    <input type=checkbox value=1 id=is_voting_{ index } name=is_voting index={ index } checked={ role.is_voting || '' }>
                    <label for=is_voting_{ index }>Voting contact</label>
                  </div>
                </div>
                <div class="row justify-between" style="margin-top: .8rem">
                  <div class=primary-contact hidden>
                    <input type=checkbox value=1 id=is_archived_{ index } class="archived-checkbox" name=is_archived index={ index } checked={ role.is_archived || '' }>
                    <label for=is_archived_{ index }>Archived</label>
                  </div>
                  <div class=align-self-end>
                    <button class="button ml-auto" type=button onclick={ this.removeRole } value={ index }
                      organisation-pk={ role.organisation.pk }>
                      <icon figure=delete embedded /> Delete
                    </button>
                  </div>
                </div>
              </article>

              <button class=button type=button onclick={ this.addRole }>
                <icon figure=add embedded /> Link to an organisation
              </button>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary class=group>
              <legend class=group>Groups <small if={ this.groupsCount }>({ this.groupsCount })</small>
              </legend>
              Expand
            </summary>
            <div each={ role in this.validRoles }>
              <h5>{role.organisation.label}</h5>
              <article id=group_{role.organisation.pk}_{index} class="groups row" subform=groups[] each={ userGroup, index in role.groups }>
                <input type=hidden name=organisation value={role.organisation.pk}>
                <select name=group required>
                  <option value=""> - Group name - </option>
                  <optgroup each={ category in this.groups } label={ category.kind }>
                    <option each={ group in category.values } value={ group.pk } selected={ userGroup.group?.pk == group.pk }>{ group.label }</option>
                  </optgroup>
                </select>
                as
                <select name=role>
                  <option value=""> - Role - </option>
                  <option each={ role in this.groupRoles } value={ role } selected={ userGroup.role == role }>{ role }
                  </option>
                </select>
                <input type=checkbox id=group-{ role.organisation.pk }-{ index } name=is_active value=1 checked={ !userGroup.group ||
                  userGroup.is_active } class="group group_organisation_{role.organisation.pk}_active">
                <label class=row for=group-{ role.organisation.pk }-{ index }>Still active</label>
                <button class="button group" type=button onclick={ this.removeGroup } value={ index } organisation={ role.organisation.pk }>
                  <icon figure=delete embedded /> Delete
                </button>
              </article>
              <button class="button group" type=button onclick={ this.addGroup } organisation={ role.organisation.pk } if={ Number(role.organisation.pk) }>
                <icon figure=add embedded /> Add a group
              </button>
            </div>
            <p if={ !this.user.pk }>You must first save this contact before assigning groups.</p>
            <p if={ !this.validRoles.length }>You must first assign an organisation to this user and save it.</p>
            <button if={ !this.user.pk || !this.validRoles.length } class=button name="save-and-continue-btn">
              <icon figure=save-small embedded /> Save and continue
            </button>
          </details>
        </div>
      </div>
    </fieldset>


    <fieldset>
      <div>
        <div>
          <details>
            <summary class=event>
              <legend class=event>Events <small if={ this.eventsCount }>({ this.eventsCount })</small>
              </legend>
              Expand
            </summary>
            <div each={ role in this.validRoles }>
              <h5>{role.organisation.label}</h5>
              <article id=event_{role.organisation.pk}_{index} class="events row" subform=events[] each={ event, index in role.events }>
                <input type=hidden name=organisation value={role.organisation.pk}>
                <div class="row align-end">
                  <div class=w50p>
                    <label for=event_name>Name of the event</label>
                    <select-autocomplete url="/event/complete?resource=person&limit=10&q=" id=event_name name=event
                      value={ event.event && event.event.pk } label={ event.event && event.event.label }
                      placeholder="Name of the event" />
                  </div>
                  <div class=w50p>
                    <label for=event_role>Came as the following role</label>
                    <!-- Allowing free text. Toggle when needed to allow only select box. -->
                    <input class=row id=event_role name=role list=event_role_list value={ event.role }>
                    <datalist id=event_role_list>
                      <option each={ role in this.eventRoles } value={ role }>
                    </datalist>
                  </div>
                  <button class=button type=button onclick={ this.removeEvent } organisation={ role.organisation.pk } value={ index }>
                    <icon figure=delete embedded /> Delete
                  </button>
                </div>
              </article>
              <button class="button event" type=button onclick={ this.addEvent } organisation={ role.organisation.pk } if={ Number(role.organisation.pk) }>
                <icon figure=add embedded /> Add an event
              </button>
            </div>
            <p if={ !this.user.pk }>You must first save this contact before assigning events.</p>
            <p if={ !this.validRoles.length }>You must first assign an organisation to this user and save it.</p>
            <button if={ !this.user.pk || !this.validRoles.length } class=button name="save-and-continue-btn">
              <icon figure=save-small embedded /> Save and continue
            </button>
          </details>
        </div>
      </div>
    </fieldset>

    <contact-attachment-edit contact={ this.user } />

    <fieldset>
      <div>
        <div>
          <details open>
            <summary>
              <legend>Comment</legend>
              Expand
            </summary>
            <div>
              <label for=comment>Comment</label>
              <textarea name=comment placeholder="Extra information about this contact">{ this.user.comment }</textarea>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <section class=toolbar>
      <div class=secondary>
        <button class=button type=button class=plain if={ this.currentUser.can('delete') } onclick={ this.delete }>
          <icon figure=delete-small embedded /> Delete</button>
        <button class=button type=button onclick={ ()=> history.back() }>
          <icon figure=close-small embedded /> Cancel</button>
        <button class=button>
          <icon figure=save-small embedded /> Save</button>
      </div>
    </section>
  </form>

  <script>
    this.currentUser = window.user
    this.dbUser = "{}"  // @FIXME Untouched copy. Event Object.assign({}, this.user) is made as reference!
    this.user = {}  // Live changing copy
    this.deleted = false
    this.duplicatesNameUri = ''
    this.duplicatesEmailUri = ''
    this.validRoles = []
    this.diseasesCount = 0
    this.groupsCount = 0
    this.eventsCount = 0
    this.rolesCount = 0
    this.archivedRoles = []

    this.on('*', () => {
      if (!Object.keys(this.user).length) {
        this.user = this.opts.user
      }
      this.dbUser = JSON.stringify(this.user)
      this.diseasesCount = document.getElementsByClassName("disease-list").length
      this.groupsCount = document.getElementsByClassName("groups").length
      this.eventsCount = document.getElementsByClassName("events").length
      var archivedCheckboxes = document.getElementsByClassName("archived-checkbox")
      this.rolesCount = Array.prototype.reduce.call(
        archivedCheckboxes,
        (rolesCount, archivedCheckbox) => archivedCheckbox.checked ? rolesCount : rolesCount + 1,
        0
      )
      this.validRoles = this.user.roles.filter(role => role.organisation?.pk.trim())
      this.userKeywordsPks = this.user.keywords.map(k => k.pk)
    })

    this.on('mount', () => {
      const country = getCountry(this.user.country)
      this.dialPrefix = country && `+${country.prefix}`
      this.archivedRoles = this.user.roles.filter(role => role.is_archived).map(role => role.organisation.pk)
      this.update()
    })

    this.changeCountry = (event) => {
      const country = getCountry(event.currentTarget.value)
      this.dialPrefix = country && `+${country.prefix}`
      this.update()
    }

    this.checkDuplicatesName = (event) => {
      const { first_name, last_name } = serializeForm(event.target.closest('form'))
      const full_name = first_name + (last_name ? ` ${last_name}` : '')
      this.duplicatesNameUri = `/complete?q=${full_name}&limit=5`
    }

    this.checkDuplicatesEmail = (event) => {
      const { email } = serializeForm(event.target.closest('form'))
      this.duplicatesEmailUri = email && `/complete?q=${email}&limit=5`
    }

    this.keywords = classifyByKind(config.KEYWORDS.filter(k => k.for_person))
    this.groups = classifyByKind(config.GROUPS)
    this.groupRoles = config.PERSON_TO_GROUP_ROLES
    this.eventRoles = config.EVENT_ROLES
    this.titles = config.TITLES

    const RoleType = {
      name: "",
      email: "",
      phone: "",
      groups: [],
      is_default: false,
      is_primary: false,
      organisation: {},
      person: {},
    }

    this.save = async (event) => {
      event.preventDefault()
      const readonlyFields = ["pk", "attachment", "uri", "resource", "label", "created_at", "modified_at", "created_by", "modified_by", "filemaker_pk", "scopes", "groupings", "groups", "events"]

      // format comparableUser and formData to be comparable (str vs number, objects with foreign data…)
      const dbUserObj = JSON.parse(this.dbUser)
      const comparableUser = {
        ...dbUserObj,
        diseases: sort((dbUserObj.diseases || []).map(o => Number(o.pk))),
        keywords: sort((dbUserObj.keywords || []).map(o => Number(o.pk))),
        events: (dbUserObj.events || []).map(o => {
          return new Event(Object.assign(o, { event: o.event.pk }))
        }),
        roles: (dbUserObj.roles || []).map(o => {
          return new Role(Object.assign(o, {
            person: this.user.pk,
            organisation: o.organisation.pk
          }))
        })
      }

      const formData = serializeForm(event.target, true)
      const newUser = {
        ...formData,
        diseases: sort(formData.diseases),
        languages: formData.languages.filter(l=>l),
        keywords: sort(formData.keywords).filter(k=>k),
        roles: (formData.roles || []).map(o => {
          return new Role(Object.assign(o, {
            person: this.user,
            groups: (formData.groups || []).filter(g => g.organisation == o.organisation),
            events: (formData.events || []).filter(g => g.organisation == o.organisation),
          }))
        })
      }

      // Get an object containing only key/value pairs that has changed
      const data = diffing(comparableUser, newUser, readonlyFields)
      const dataDiff = !!Object.keys(data).length

      const response = dataDiff ? (this.user.pk
        ? apiResponse(await api(`/person/${this.user.pk}`, { method: 'patch', data }))
        : apiResponse(await api(`/person`, { method: 'post', data }))) : null
      if (!dataDiff || response?.ok) {
        if(response?.ok) {
          const user = response.data
        // upload document
        await document.querySelector('contact-attachment-edit')._tag.save(user)

        if (event.submitter.name === 'save-and-continue-btn') {
          this.user =  user
          this.update()
        }
        else
            page(`/person/${user.pk}${location.search}`)
        }

        notify(`Contact was saved successfully`, 'success')
      }
    }

    this.addDisease = (event) => {
      // @FIXME Hack riot that will skip the attribute "value" as long as the initial value is empty
      // => Keep the space for pk :/
      this.user.diseases.push({ pk: ' ', name: '' })
      this.update()
    }

    this.removeDisease = (event) => {
      const disease = document.getElementById(`disease_${event.currentTarget.value}`)
      if (disease) {
        disease.remove()
      }
      this.update()
    }

    this.addRole = () => {
      this.user.roles.push({ organisation: { pk: ' ' }, groups: [], events: [] })
      this.update()
    }

    this.removeRole = (event) => {
      if (!window.confirm('Are you sure you want to remove this role ?'))
        return
      const organisationPk = event.currentTarget.getAttribute('organisation-pk')
      if (organisationPk == ' ') {
        this.user.roles.splice(event.currentTarget.value, 1)
      } else {
        // archive role
        document.getElementById(`is_archived_${event.currentTarget.value}`).checked = true
        document.getElementById(`is_default_${event.currentTarget.value}`).checked = false
        document.getElementById(`role_email_${event.currentTarget.value}`).value = null
        this.archivedRoles.push(organisationPk)
        // disable related groups
        groups_active = document.getElementsByClassName(`group_organisation_${organisationPk}_active`)
        for (const group_active of groups_active) {
          group_active.checked = false
        }
      }
      this.update()
    }


    this.addGroup = (event) => {
      const organisationPk = event.currentTarget.getAttribute('organisation')
      const role = this.user.roles.find(r => r.organisation.pk == organisationPk)
      if(!role.groups) role.groups = []
      role.groups.push({})
      this.update()
    }


    this.removeGroup = (event) => {
      const group = document.getElementById(`group_${event.currentTarget.getAttribute('organisation')}_${event.currentTarget.value}`)
      if (group) {
        group.remove()
      }
      this.update()
    }


    this.addEvent = (event) => {
      const organisationPk = event.currentTarget.getAttribute('organisation')
      const role = this.user.roles.find(r => r.organisation.pk == organisationPk)
      if(!role.events) role.events = []
      role.events.push({})
      this.update()
    }

    this.removeEvent = (event) => {
      const roleEvent = document.getElementById(`event_${event.currentTarget.getAttribute('organisation')}_${event.currentTarget.value}`)
      if (roleEvent) {
        roleEvent.remove()
      }
      this.update()
    }

    this.delete = async (event) => {
      if (!confirm('You are about to permanently delete this contact. Are your sure?')) return
      const response = apiResponse(await api(`/person/${this.user.pk}`, { method: 'delete' }))
      if (response.ok) {
        notify(`The contact "${this.user.first_name} ${this.user.last_name}" was deleted.`, 'success')
        page(`/${location.search}`)
      }
      else {
        notify(`Could not delete contact: ${response.data.error}`, 'error')
      }
    }

  </script>

  <link rel="stylesheet" href="/src/css/details.css">
  <style>
    [for=event_role]+[name=role] {
      width: 100%;
    }

    .keywords span {
      display: inline-block;
    }

  </style>
</user-edit>
