/* Styles for organisation and user details */

.details > .row > div:first-child {
    align-self: flex-start;
    margin-right: 0;
}

.details > .row > div:last-child {
    width: 100%;
}

.details header > div > .row {
    align-items: flex-start;
    width: 100%;
    margin-top: 1.6rem;
}

.details header > div > .row > div {
    flex-basis: 50%;
}

.details section:not(.toolbar),
.details fieldset > div {
    margin-bottom: 2.4rem;
    display: flex;
}

.details section:not(.toolbar):before,
.details fieldset > div:before {
    content: '';
    display: block;
    width: 3.2rem;
    height: 1px;
    margin-top: 0.8rem;
    margin-right: 1.6rem;
    background-color: var(--border-color);
}

.details fieldset > div:before {
    margin-top: 0.6rem;
}

.details section:not(.toolbar) > div,
.details fieldset > div > div {
    width: calc(100% - 4.8rem);
}

.details fieldset .row {
    margin: 0;
}

.details .displayed li {
    margin-bottom: 0;
}

/* .details :not(.toolbar) a {
    padding: 0 .2rem;
    border-bottom: none;
} */

/* .details :not(.toolbar) a:hover {
    border-radius: .2rem;
} */

.details tag {
    align-items: flex-start;
    margin-bottom: 0.4rem;
}

.details tag + tag {
    margin-left: 1.6rem;
}

.details header tag + tag {
    margin-left: 0;
}

.details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.details li {
    display: flex;
    margin: 0 0 .4rem;
    color: inherit;
}

.details li:last-child {
    margin-bottom: 0;
}

.details li icon {
    margin-right: 0.4rem;
}

.details li [figure=address] {
    align-self: flex-start;
}

.details header h1,
.details header h2,
.details h3 {
    font-family: "IBMPlexSans", sans-serif;
    font-weight: 300;
}

.details header h1 {
    display: flex;
    align-items: center;
    margin: .3rem 0;
    font-size: 1.6rem;
}

.details header h1 span,
.details header h1 add-export button {
    margin-left: .4rem;
}

.details header h1 add-export button {
    display: flex;
}

.details header h2 {
    font-size: .8rem;
}

.details header h2 icon {
    margin-right: 0.4rem;
}

.details header h3 {
    margin-bottom: .4rem;
    font-size: 0.8rem;
    color: var(--text-color);
}

.details section h2 {
    margin-bottom: 0.8rem;
}

.details summary {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.details summary:before {
    order: 2;
    margin-left: 0.8rem;
}

.details summary + div {
    margin-top: 1.2rem;
}

.avatar {
    align-self: flex-start;
    width: 3.25rem;
    height: 3.25rem;
    margin-right: 1.55rem;
    border-radius: 50%;
}

.property-group .active {
    font-weight: bold;
}

.property-group .item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.property-group .item h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.property-group .item > div {
    margin-top: .4rem;
}

.property-group .active > div,
.property-group .inactive > div {
    margin-bottom:.2rem;
}

.property-group p {
    margin-top: .4rem;
    margin-bottom: 0;
}

.property-group p span {
    font-weight: normal;
}

.property-group p span::before {
    content: "/";
    margin-left: .2rem;
    color: var(--text-color-light);
}

.property-group a,
.property-group a:hover {
    color: var(--group);
}

.property-group p,
.property-group a {
    display: flex;
    align-items: center;
}

.property-group a icon {
    margin-right: .4rem;
}

.property-group a:hover {
    background-color: var(--group-light);
}

.property-group .inactive,
.property-group span:not(:last-child)::after {
    color: var(--text-color-light);
}

.property-group span:not(:last-child)::after {
    content: " / ";
    font-weight: normal;
}

.events .event {
    display: flex;
    justify-content: space-between;
}

legend {
    margin-bottom: .4rem;
    font-size: 1.2rem;
}

.details label {
    margin-top: 0.8rem;
}

label.inline {
    margin-top: 0.8rem;
    margin-right: 0.4rem;
    font-weight: normal;
    text-transform: none;
}

select-autocomplete {
    width: 100%;
}

select {
    width: 100%;
}

article:not(:last-of-type):after {
    content: '';
    display: block;
    width: 3.2rem;
    height: 1px;
    margin-top: 1.6rem;
    background-color: var(--border-color);
}

article .row {
    margin: 0;
}

/* article .row>div {
    width: 50%;
} */

article > button {
    margin-top: .8rem;
}

article + button {
    margin-top: 1.6rem;
}

article label.row {
    font-weight: normal;
    text-transform: none;
}

[name=pk] {
    width: 50%;
}

[name=role] {
    width: 15%;
    margin-left: .8rem;
}

role-card.row {
    margin: 0;
}

.groups:not(:last-of-type) {
    margin-bottom: 0.8rem !important;
}

.groups::after {
    display: none;
}

.groups + button {
    margin-top: 1.2rem;
}

.primary-contact {
    align-self: flex-end;
    padding-bottom: 0.55rem;
}

.primary-contact label {
    margin-bottom: 0 !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.toolbar p {
    margin: 0;
}

.toolbar a {
    color: var(--primary-color)
}

.toolbar a.button {
    padding: .1rem .8rem;
    border-bottom: 1px solid var(--primary-color);
}

.toolbar a.button:hover {
    border-radius: 1rem;
}

.disease-list {
    margin-bottom: 0.8rem !important;
}

.disease-list:first-of-type {
    margin-top: 1.2rem !important;
}

.disease-list tag {
    display: flex;
}

[subform="groups[]"]:first-of-type {
    margin-top: 1.2rem !important;
}

[subform="roles[]"]:first-of-type,
[subform="events[]"]:first-of-type {
    margin-top: -1.2rem !important;
}

[subform="membership[]"]:first-of-type {
    margin-top: -0.6rem;
}

[subform="membership[]"]:not(:first-of-type) {
    margin-top: 1.2rem;
}

[subform="membership[]"] label {
    margin-top: 0.4rem;
}

[name="keywords[]"] + label {
    margin-bottom: 0 !important;
}
